                /* Small devices (landscape phones, 576px and up) */
                
                @media (min-width: 576px) {
                    .topnavbar {
                        width: 300%;
                        z-index: 1000;
                    }
                    .topnavbar li {
                        display: block;
                        background-color: #1ec6b6;
                        color: #fff;
                        /* padding-bottom: 10px; */
                        padding: 20px;
                        border-bottom: 1px solid white;
                    }
                    .logo a {
                        position: absolute;
                        top: 13px;
                        left: 0;
                    }
                    .search-icon {
                        width: 45px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 45px;
                        margin-right: 0px;
                    }
                    .dropdown-menu {
                        width: 45px;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0px;
                    }
                }
                /* // Medium devices (tablets, 768px and up) */
                
                @media (min-width: 768px) {
                    .grid-pic {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr;
                        gap: 20px 20px;
                    }
                    .grid-popular-places {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 1fr 1fr 1fr;
                        gap: 20px;
                    }
                    .footer-top {
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: space-around;
                        margin: 0 0 100px 0;
                    }
                    .col1,
                    .company,
                    .popular-des {
                        padding-top: 0%;
                        width: 20%;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;
                        text-align: center;
                    }
                    .col1 {
                        margin-top: -13px
                    }
                }
                /* // Large devices (desktops, 992px and up) */
                
                @media (min-width: 992px) {
                    .topnavbar {
                        display: inline-block;
                        margin: 0 30px;
                        width: 100%;
                    }
                    .topnavbar li {
                        background-color: #fff;
                        color: #040e27;
                        display: inline-block;
                        padding: 0;
                        margin: 0px 10px;
                    }
                    .dropdown-menu {
                        display: none;
                    }
                    .search-icon {
                        right: 0;
                    }
                    .search-form {
                        flex-direction: row;
                    }
                    .search-bar {
                        flex-direction: row;
                    }
                    .search-bar h3 {
                        width: 30%;
                    }
                    input[type="text"],
                    input[type="date"],
                    select {
                        width: 30%;
                        padding: 10px 20px;
                        margin: 10px;
                    }
                    .grid-pic {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        gap: 20px 20px;
                    }
                    .text-subscribe {
                        text-align: left;
                    }
                    .subscibe-form {
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                        height: 150px;
                    }
                    .subscibe-form form {
                        flex-direction: row;
                        justify-content: space-evenly;
                        align-items: center;
                    }
                    .grid-popular-places {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        grid-template-rows: 1fr 1fr;
                        justify-content: center;
                        justify-items: center;
                        gap: 20px;
                    }
                }
                /* // Extra large devices (large desktops, 1200px and up) */
                
                @media (min-width: 1200px) {
                    .search-icon {
                        width: 80px;
                        right: 0;
                    }
                    .header-social-menu,
                    .phone_no {
                        display: block;
                    }
                }